* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #121025;
  /*
  background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5f4cbdf20cbf101c2aa5542293698249&auto=format&fit=crop&w=3150&q=80") no-repeat center center fixed;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   */
}

header {
  width: 25em;
  margin: 8em auto 0 auto;
}

header img {
  width: 100%;
}

section.description {
  width: 50em;
  margin: 0 auto;
}

section.description h1 {
  color: #FFF;
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 2em 0 0 0;
}

section.description p {
  color: #FFF;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 1em 0 0 0;
  letter-spacing: .05em;
}

section.mail {
  width: 50em;
  margin: 4em auto;
}

section.mail p {
  color: #3cb878;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  letter-spacing: .05em;
}

form {
  margin: 1em auto;
  width: 40em;
}

input.button {
  width: 10em;
  height: 50px;
  background-color: #3cb878;
  border: none;
  float: left;

  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  color: #FFFFFF;
  letter-spacing: .1em;
}

input.email {
  width: 26em;
  height: 50px;
  background-color: #FFFFFF;
  border: none;
  float: left;

  background-image: url("img/email.svg");
  background-repeat: no-repeat;
  background-size: 1.3em;
  background-position: 1.3em 50%;

  padding-left: 4em;

  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: .05em;
  font-weight: 600;
  color: #9B9B9B;
}
